---
import "../style.scss";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manny Workout Plan</title>
</head>
<body>
    <div class="container">
        <a href="#top" id="back-to-top" class="back-to-top">^</a>
        <section id="phase-1" class="workout-boxes">
            <h3>Day 1: Push (Chest & Shoulders)</h3>
            <div class="workout-container-tables">
                <table>
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Sets x Reps</th>
                            <th>Rest</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cable Twists</td>
                            <td>3x12-15</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Neck Flexion and Extension</td>
                            <td>3x12-15</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Cable Low Trap Raises</td>
                            <td>3x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>DB Shrugs</td>
                            <td>3x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>DB Bench Press</td>
                            <td>5x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Decline DB Bench Press</td>
                            <td>3x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Cuban Press</td>
                            <td>3x8-12</td>
                            <td>2min</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Day 2: Legs (Quads | Hamstrings | Calves)</h3>
            <div class="workout-container-tables">
                <table>
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Sets x Reps</th>
                            <th>Rest</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Standing Calf Raises | Tibia Raises</td>
                            <td>4x15-20</td>
                            <td>90s</td>
                        </tr>
                        <tr>
                            <td>Smith Curtsy Lunge</td>
                            <td>3x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Hack Squats</td>
                            <td>5x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Deadlifts</td>
                            <td>4x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Hip Thrusts</td>
                            <td>3x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Hamstring Curls</td>
                            <td>4x8-12</td>
                            <td>2min</td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Sets x Reps</th>
                            <th>Rest</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sissy Hack Squats</td>
                            <td>3x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Hip Abductions</td>
                            <td>3x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Kettle Bell Swings</td>
                            <td>3x8-12</td>
                            <td>2min</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Day 3: Pull (Back & Biceps)</h3>
            <div class="workout-container-tables">
                <table>
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Sets x Reps</th>
                            <th>Rest</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cable Twists</td>
                            <td>3x12-15</td>
                            <td>2min</td>
                        </tr>                                
                        <tr>
                            <td>Neck Lateral Flexion</td>
                            <td>3x12-15</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Cable Low Trap Raises</td>
                            <td>3x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>DB Shrugs</td>
                            <td>3x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Cable Rows</td>
                            <td>5x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Single Arm Cable Pulldowns</td>
                            <td>3x8-12</td>
                            <td>2min</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Day 4: Arms</h3>
            <div class="workout-container-tables">
                <table>
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Sets x Reps</th>
                            <th>Rest</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cable Leg Raises</td>
                            <td>3x12-15</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Cable Low Trap Raises</td>
                            <td>3x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>DB Shrugs</td>
                            <td>3x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Barbell Curls</td>
                            <td>5x10-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Overhead DB Tricep Extensions</td>
                            <td>5x10-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Reverse Barbell Curls</td>
                            <td>3x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Wrist Flips</td>
                            <td>3x8-12</td>
                            <td>2min</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Day 5: Shoulders & Postural Focus</h3>
            <div class="workout-container-tables">
                <table>
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Sets x Reps</th>
                            <th>Rest</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cable Twists</td>
                            <td>3x12-15</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Neck Diagonal Extension</td>
                            <td>3x12-15</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Cable Low Trap Raises</td>
                            <td>3x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>DB Shrugs</td>
                            <td>3x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>DB Shoulder Press</td>
                            <td>5x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Cuban Press</td>
                            <td>4x8-12</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Rear Delt Flyes</td>
                            <td>3x8-12</td>
                            <td>2min</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <a href="/long" id="" class="link">^</a>
    </div>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        // scroll to top
        window.addEventListener("scroll", () => {
            const button = document.getElementById("back-to-top");
            if (button) {
                if (window.scrollY > 1200) {
                    button.style.display = "block";
                } else {
                    button.style.display = "none";
                }
            }
        });
            
        // section toggle
        const mobilityDetails = document.querySelectorAll('.mobility-boxes details');
        mobilityDetails.forEach((targetDetail) => {
            targetDetail.addEventListener('click', () => {
                mobilityDetails.forEach((detail) => {
                if (detail !== targetDetail) detail.removeAttribute('open');
                });
            });
        });
    })
  </script>
  