---
import "../style.scss";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>12-Week Workout Plan</title>
</head>
<body>
    <div class="container">
        <a href="#top" id="back-to-top" class="back-to-top">^</a>
        <section id="top">
            <a href="#phase-1" class="link">Jump to Hypertrophy Phase 1</a>
            <a href="#phase-2" class="link">Jump to Strength Phase 2</a>
        </section>
        <hr>  
        <section id="phase-1" class="workout-boxes">
            <!-- <details> -->
                <!-- <summary> -->
                    <h2>Muscle Building Phase (Weeks 1-4)</h2>
                <!-- </summary> -->
                <!-- <div> -->
                    <h3>Day 1: Push (Chest & Shoulders)</h3>
                    <div class="workout-container-tables">
                        <table>
                            <thead>
                                <tr>
                                    <th>Exercise</th>
                                    <th>Sets x Reps</th>
                                    <th>Rest</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Core Circuit: Russian Twists, Twist Crunches, Crunches</td>
                                    <td>3x12-15</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Neck Flexion and Extension</td>
                                    <td>3x12-15</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>DB Shrugs</td>
                                    <td>3x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>DB Press</td>
                                    <td>5x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Incline DB Press</td>
                                    <td>4x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Standing DB Shoulder Press</td>
                                    <td>3x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Cuban Press</td>
                                    <td>3x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Lateral DB Raises</td>
                                    <td>50 reps</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Pushups [Knuckle, Finger, Wrist, Diamond]</td>
                                    <td>25 reps each</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <th>Cardio</th>
                                    <th>Time</th>
                                    <th>Zone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Uphill Walk</td>
                                    <td>45min</td>
                                    <td>Zone 1</td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <th>Exercise</th>
                                    <th>Sets x Reps</th>
                                    <th>Rest</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>DB Flyes</td>
                                    <td>3x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Incline DB Flyes</td>
                                    <td>3x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Decline Cable Flyes</td>
                                    <td>3x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Lateral DB Raises</td>
                                    <td>50 reps</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Pushups [Knuckle, Finger, Wrist, Diamond]</td>
                                    <td>25 reps each</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3>Day 2: Legs (Quads, Hamstrings, Calves)</h3>
                    <div class="workout-container-tables">
                        <table>
                            <thead>
                                <tr>
                                    <th>Exercise</th>
                                    <th>Sets x Reps</th>
                                    <th>Rest</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Core Circuit: Russian Twists, Crunches, Leg Raises</td>
                                    <td>3x12-15</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Standing Calf Raises</td>
                                    <td>4x15-20</td>
                                    <td>90s</td>
                                </tr>
                                <tr>
                                    <td>Pistol Squats</td>
                                    <td>4x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Reverse Nordic Curls</td>
                                    <td>4x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Bosu SL Deadlifts</td>
                                    <td>4x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Hamstring Curls</td>
                                    <td>5x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Single Leg Bridge</td>
                                    <td>50 reps each</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <th>Cardio</th>
                                    <th>Time</th>
                                    <th>Zone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Uphill Walk</td>
                                    <td>45min</td>
                                    <td>Zone 1</td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <th>Exercise</th>
                                    <th>Sets x Reps</th>
                                    <th>Rest</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Leg Press</td>
                                    <td>3x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Good Mornings</td>
                                    <td>3x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Smith Reverse Hyperextensions</td>
                                    <td>3x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Full Bridge</td>
                                    <td>50 reps</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3>Day 3: Pull (Back & Biceps)</h3>
                    <div class="workout-container-tables">
                        <table>
                            <thead>
                                <tr>
                                    <th>Exercise</th>
                                    <th>Sets x Reps</th>
                                    <th>Rest</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Neck Lateral Flexion</td>
                                    <td>3x12-15 per side</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Machine Rows</td>
                                    <td>4x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Machine Pulldowns</td>
                                    <td>3x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Single Arm Cable Rows</td>
                                    <td>3x8-12/arm</td>
                                    <td>90s</td>
                                </tr>
                                <tr>
                                    <td>Face Pulls</td>
                                    <td>3x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Reverse Flys</td>
                                    <td>3x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>TRX Rows</td>
                                    <td>100</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3>Day 4: Arms</h3>
                    <div class="workout-container-tables">
                        <table>
                            <thead>
                                <tr>
                                    <th>Exercise</th>
                                    <th>Sets x Reps</th>
                                    <th>Rest</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Core Circuit: Russian Twists, Twist Crunches, Crunches</td>
                                    <td>3x12-15</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Overhead DB Tricep Extensions</td>
                                    <td>4x10-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Tricep Flat Cable Pushdowns</td>
                                    <td>3x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>DB Curls</td>
                                    <td>4x10-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Hammer Curls</td>
                                    <td>3x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Wrist Flexor Raises</td>
                                    <td>50</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Wrist Extensor Raises</td>
                                    <td>50</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3>Day 5: Shoulders & Postural Focus</h3>
                    <div class="workout-container-tables">
                        <table>
                            <thead>
                                <tr>
                                    <th>Exercise</th>
                                    <th>Sets x Reps</th>
                                    <th>Rest</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Core Circuit: Russian Twists, Crunches, Leg Raises</td>
                                    <td>3x12-15</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>DB Shrugs</td>
                                    <td>3x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>DB Shoulder Press</td>
                                    <td>4x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Cuban Press</td>
                                    <td>3x8-12</td>
                                    <td>2min</td>
                                </tr>
                                <tr>
                                    <td>Rear Delt Flyes</td>
                                    <td>3x8-15</td>
                                    <td>2min</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                <!-- </div> -->
            <!-- </details> -->
        </section>
        <hr>
        <section id="phase-2">
            <h2>Strength Phase (Weeks 5-8)</h2>
            <h3>Day 1: Push (Chest, Shoulders, Triceps)</h3>
            <div class="workout-container-tables">
                <table>
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Sets x Reps</th>
                            <th>Tempo</th>
                            <th>Rest</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Chest Press Machine</td>
                            <td>4x4-6</td>
                            <td>2-0-1</td>
                            <td>2-3min</td>
                        </tr>
                        <tr>
                            <td>Shoulder Press Machine</td>
                            <td>4x4-6</td>
                            <td>2-0-1</td>
                            <td>2-3min</td>
                        </tr>
                        <tr>
                            <td>Incline Press Machine</td>
                            <td>3x6-8</td>
                            <td>2-0-1</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Lateral Raise Machine (superset with Face Pulls)</td>
                            <td>3x10-12</td>
                            <td>2-0-1</td>
                            <td>2min after superset</td>
                        </tr>
                        <tr>
                            <td>Face Pulls</td>
                            <td>3x10-12</td>
                            <td>2-0-1</td>
                        </tr>
                        <tr>
                            <td>Tricep Pushdowns</td>
                            <td>3x8-10</td>
                            <td>2-0-1</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Neck Flexion and Extension</td>
                            <td>3x10-15</td>
                            <td>2-0-2</td>
                            <td>60-2min</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Day 2: Legs (Quads, Hamstrings, Calves)</h3>
            <div class="workout-container-tables">
                <table>
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Sets x Reps</th>
                            <th>Tempo</th>
                            <th>Rest</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Hack Squats</td>
                            <td>4x4-6</td>
                            <td>2-0-1</td>
                            <td>2-3min</td>
                        </tr>
                        <tr>
                            <td>Hamstring Curls</td>
                            <td>4x4-6</td>
                            <td>2-0-1</td>
                            <td>2-3min</td>
                        </tr>
                        <tr>
                            <td>Hip Thrusts</td>
                            <td>3x6-8</td>
                            <td>2-0-1</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Reverse Nordic Curls (superset with Hamstring Curls)</td>
                            <td>3x10-12</td>
                            <td>2-0-1</td>
                            <td>2min after superset</td>
                        </tr>
                        <tr>
                            <td>Hip Abduction</td>
                            <td>3x10-12</td>
                            <td>2-0-1</td>
                        </tr>
                        <tr>
                            <td>Standing Calf Raises</td>
                            <td>4x12-15</td>
                            <td>2-0-1</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Weighted Planks</td>
                            <td>3x30-90s</td>
                            <td>-</td>
                            <td>2min</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Day 3: Pull (Back, Biceps)</h3>
            <div class="workout-container-tables">
                <table>
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Sets x Reps</th>
                            <th>Tempo</th>
                            <th>Rest</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Machine Rows</td>
                            <td>4x4-6</td>
                            <td>2-0-1</td>
                            <td>2-3min</td>
                        </tr>
                        <tr>
                            <td>Machine Pulldowns</td>
                            <td>4x4-6</td>
                            <td>2-0-1</td>
                            <td>2-3min</td>
                        </tr>
                        <tr>
                            <td>Single Arm Cable Rows</td>
                            <td>3x6-8/arm</td>
                            <td>2-0-1</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Face Pulls (superset with DB Curls)</td>
                            <td>3x10-12</td>
                            <td>2-0-1</td>
                            <td>2min after superset</td>
                        </tr>
                        <tr>
                            <td>DB Curls</td>
                            <td>3x8-10</td>
                            <td>2-0-1</td>
                        </tr>
                        <tr>
                            <td>Neck Lateral Flexion</td>
                            <td>3x10-15 per side</td>
                            <td>2-0-2</td>
                            <td>60-2min</td>
                        </tr>
                        <tr>
                            <td>Reverse Flys</td>
                            <td>3x6-8</td>
                            <td>2-0-1</td>
                            <td>2min</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Day 4: Arms & Core</h3>
            <div class="workout-container-tables">
                <table>
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Sets x Reps</th>
                            <th>Tempo</th>
                            <th>Rest</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tricep Pushdowns (superset with EZ Bar Curls)</td>
                            <td>4x6-8</td>
                            <td>2-0-1</td>
                            <td>2min after superset</td>
                        </tr>
                        <tr>
                            <td>EZ Bar Curls</td>
                            <td>4x6-8</td>
                            <td>2-0-1</td>
                        </tr>
                        <tr>
                            <td>Close-grip Bench Press</td>
                            <td>3x4-6</td>
                            <td>2-0-1</td>
                            <td>2-3min</td>
                        </tr>
                        <tr>
                            <td>Hammer Curls</td>
                            <td>3x8-10</td>
                            <td>2-0-1</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Forearm Curls</td>
                            <td>3x12-15</td>
                            <td>-</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Core Circuit: Weighted Planks, Windshield Wipers, Leg Raises</td>
                            <td>3x45-90s, 3x25, 3x20</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Neck Rotation</td>
                            <td>3x10-15 per side</td>
                            <td>2-0-2</td>
                            <td>60-2min</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Day 5: Shoulders & Postural Focus</h3>
            <div class="workout-container-tables">
                <table>
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Sets x Reps</th>
                            <th>Tempo</th>
                            <th>Rest</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Smith Military Press</td>
                            <td>4x4-6</td>
                            <td>2-0-1</td>
                            <td>2-3min</td>
                        </tr>
                        <tr>
                            <td>Rear Delt Raises</td>
                            <td>3x6-8</td>
                            <td>2-0-1</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Lateral Raise Machine</td>
                            <td>3x10-12</td>
                            <td>2-0-1</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Smith Front Shrugs</td>
                            <td>3x10-12</td>
                            <td>2-0-1</td>
                            <td>2min</td>
                        </tr>
                        <tr>
                            <td>Core Circuit: Side Raises, Crunches, Twisting Crunches</td>
                            <td>3x10, 3x20, 3x15</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Low Trap Accessory Work</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <hr>
    </div>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        // scroll to top
        window.addEventListener("scroll", () => {
            const button = document.getElementById("back-to-top");
            if (button) {
                if (window.scrollY > 1200) {
                    button.style.display = "block";
                } else {
                    button.style.display = "none";
                }
            }
        });
            
        // section toggle
        const mobilityDetails = document.querySelectorAll('.mobility-boxes details');
        mobilityDetails.forEach((targetDetail) => {
            targetDetail.addEventListener('click', () => {
                mobilityDetails.forEach((detail) => {
                if (detail !== targetDetail) detail.removeAttribute('open');
                });
            });
        });
    })
  </script>
  