---
import "../style.scss";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manny Workout Plan</title>
</head>
<body>
    <div class="container">
        <a href="#top" id="back-to-top" class="back-to-top">^</a>
        <section id="phase-1" class="workout-boxes">
            <h3>Day 1: Abs, Front Neck, Traps, Chest, Triceps</h3>
            <div class="workout-container-tables">
                <table>
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Sets</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Abs</td>
                            <td>8 sets</td>
                        </tr>
                        <tr>
                            <td>Front Neck</td>
                            <td>5 sets</td>
                        </tr>
                        <tr>
                            <td>Traps</td>
                            <td>8 sets</td>
                        </tr>
                        <tr>
                            <td>Triceps</td>
                            <td>10 sets</td>
                        </tr>
                        <tr>
                            <td>Chest</td>
                            <td>12 sets</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Day 2: Abs, Rear Neck, Rear Delts, Back, Biceps, Hands & Forearms</h3>
            <div class="workout-container-tables">
                <table>
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Sets</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Abs</td>
                            <td>8 sets</td>
                        </tr>                                
                        <tr>
                            <td>Rear Neck</td>
                            <td>5 sets</td>
                        </tr>
                        <tr>
                            <td>Rear Delts</td>
                            <td>8 sets</td>
                        </tr>
                        <tr>
                            <td>Biceps</td>
                            <td>10 sets</td>
                        </tr>
                        <tr>
                            <td>Back</td>
                            <td>12 sets</td>
                        </tr>
                        <tr>
                            <td>Hands & Forearms</td>
                            <td>10 sets</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Day 3: Agility, Power, Tibias, Quads</h3>
            <div class="workout-container-tables">
                <table>
                    <thead>
                        <tr>
                            <th>Exercise</th>  
                            <th>Sets</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Speed Ladder</td>
                            <td>10 sets</td>
                        </tr>
                        <tr>
                            <td>Squat Jumps</td>    
                            <td>4 sets</td>
                        </tr>
                        <tr>
                            <td>Tibia Raises</td>   
                            <td>5 sets</td>
                        </tr>
                        <tr>
                            <td>Quads</td>
                            <td>12 sets</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Day 4: Abs, Lateral Neck, Traps, Triceps, Biceps, Hands & Forearms</h3>
            <div class="workout-container-tables">
                <table>
                    <thead>
                        <tr>
                            <th>Exercise</th>  
                            <th>Sets</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Abs</td>
                            <td>8 sets</td>
                        </tr>
                        <tr>
                            <td>Lateral Neck</td>    
                            <td>3 sets</td>
                        </tr>
                        <tr>
                            <td>Traps</td>   
                            <td>8 sets</td>
                        </tr>
                        <tr>
                            <td>Triceps</td>
                            <td>10 sets</td>
                        </tr>
                        <tr>
                            <td>Biceps</td>
                            <td>10 sets</td>
                        </tr>
                        <tr>
                            <td>Hands & Forearms</td>
                            <td>10 sets</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Day 5: Abs, Shoulders, Hands & Forearms</h3>
            <div class="workout-container-tables">
                <table>
                    <thead>
                        <tr>
                            <th>Exercise</th>  
                            <th>Sets</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Abs</td>
                            <td>8 sets</td>
                        </tr>
                        <tr>
                            <td>Shoulders</td>    
                            <td>20 sets</td>
                        </tr>
                        <tr>
                            <td>Hands & Forearms</td>
                            <td>10 sets</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Day 6: Plyometrics, Calves, Glutes, Hamstrings</h3>
            <div class="workout-container-tables">
                <table>
                    <thead>
                        <tr>
                            <th>Exercise</th>  
                            <th>Sets</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Plyometrics</td>
                            <td>10 sets</td>
                        </tr>
                        <tr>
                            <td>Calves</td>   
                            <td>5 sets</td>
                        </tr>
                        <tr>
                            <td>Glutes</td>
                            <td>10 sets</td>
                        </tr>
                        <tr>
                            <td>Hamstrings</td>
                            <td>12 sets</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        // scroll to top
        window.addEventListener("scroll", () => {
            const button = document.getElementById("back-to-top");
            if (button) {
                if (window.scrollY > 1200) {
                    button.style.display = "block";
                } else {
                    button.style.display = "none";
                }
            }
        });
            
        // section toggle
        const mobilityDetails = document.querySelectorAll('.mobility-boxes details');
        mobilityDetails.forEach((targetDetail) => {
            targetDetail.addEventListener('click', () => {
                mobilityDetails.forEach((detail) => {
                if (detail !== targetDetail) detail.removeAttribute('open');
                });
            });
        });
    })
  </script>
  